[project]
	description = Amaze Bazaar\n\
\n\
© 2013 Anupam Srivastava. All rights reserved.
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/anupam002
	label-Code-Review = -2..+2 group Anupam Review
[access "refs/for/refs/*"]
	read = group Anupam Review
	read = group user/anupam002
	push = group Anupam Review
	push = group user/anupam002
	label-Code-Review = -2..+2 group Anupam Review
	label-Code-Review = -2..+2 group user/anupam002
	label-Verified = -1..+1 group Anupam Review
	label-Verified = -1..+1 group user/anupam002
	rebase = group Anupam Review
	rebase = group user/anupam002
	removeReviewer = group user/anupam002
	submit = group Anupam Review
	submit = group user/anupam002
[access "refs/heads/*"]
	read = group user/anupam002
	create = group user/anupam002
	push = group Anupam Review
	push = +force group user/anupam002
	pushMerge = group Anupam Review
	pushMerge = group user/anupam002
[access "refs/tags/*"]
	push = +force group user/anupam002
	pushTag = group user/anupam002
	pushSignedTag = group user/anupam002
[receive]
	requireSignedOffBy = true
	requireChangeId = true
