<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
	xmlns="http://java.sun.com/xml/ns/javaee" 
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" 
	id="WebApp_ID" version="3.0">
	
	  <display-name>AmazeIndia</display-name>
	  <description>Amaze India Portal</description>
	  
	  <context-param>
        <param-name>spring.profiles.active</param-name>
        <param-value>production</param-value>
        <!-- Available profiles:
		<param-value>production</param-value>
		<param-value>test</param-value>
		-->
      </context-param>
    
	  <context-param>
	    <param-name>contextConfigLocation</param-name>
	    <param-value>classpath:META-INF/spring/business-config.xml, 
	        classpath:META-INF/spring/tools-config.xml</param-value>
	  </context-param>
	  
	  <listener>
	    <listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
	  </listener>
	  
	  <servlet>
	    <servlet-name>amazeIndia</servlet-name>
	    <servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
	    <init-param>
	      <param-name>contextConfigLocation</param-name>
	      <param-value>classpath:META-INF/spring/mvc-core-config.xml</param-value>
	    </init-param>
	    <load-on-startup>1</load-on-startup>
	  </servlet>
	  
	  <servlet-mapping>
	    <servlet-name>amazeIndia</servlet-name>
	    <url-pattern>/</url-pattern>
	  </servlet-mapping>
	  
	  <servlet>
	    <servlet-name>ViewStatusMessages</servlet-name>
	    <servlet-class>ch.qos.logback.classic.ViewStatusMessagesServlet</servlet-class>
	  </servlet>
	  
	  <servlet-mapping>
	    <servlet-name>ViewStatusMessages</servlet-name>
	    <url-pattern>/logbackStatus</url-pattern>
	  </servlet-mapping>
	  
	  <filter>
	    <filter-name>httpMethodFilter</filter-name>
	    <filter-class>org.springframework.web.filter.HiddenHttpMethodFilter</filter-class>
	  </filter>
	  <filter-mapping>
	    <filter-name>httpMethodFilter</filter-name>
	    <servlet-name>amazeIndia</servlet-name>
	  </filter-mapping>
</web-app>